# IDE
*.iml
.idea/
.vscode/

# Gradle
.gradle
build/

# Local properties
local.properties
/local.properties

# Build artifacts
/captures
.externalNativeBuild
.cxx

# OS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

API_READ_ACCESS_TOKEN
API_KEY
/.artifacts/

.kotlin/
backend/
docs/
p-stream/
providers-bundle/
pstream-extension/
xp-turnstile/
